*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color:white;
}

body{
    margin: auto;
    width: 70%;
    height: 100vh;
    background-color:rgb(240, 234, 234);
    box-shadow: 1px 1px 1em grey;
}

h1{
    padding: 10px 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: rgb(56, 53, 53);
    background-color: dimgrey;
    color: white;
}

form{
    margin-left: 30px;
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 100px;
}

form h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14pt;
    margin-top: 20px;
    margin-bottom: 10px;
}
form label{
    display: block;
}

form input{
    padding: 2px;
    margin-bottom: 10px;
}

.sessaoend label{
    display: flex;
}



